.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease; /* Apply transition property */
  overflow: hidden;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

#carouselImage {
  width: 100vw;
  height: 450px;
}

#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}
